@(accountForm: Form[dto.Account])

@import helper._

@main("Poker Game - Create Account") {

	@form(routes.Application.submitAccount()) {

		<h1>Create a new account</h1>
		
		@if(accountForm.hasGlobalErrors) {
			<p class="error">@accountForm.globalError.message</p>
		}
		
		<p>
			<input type="email" name="email" placeholder="Email"
				value="@accountForm("email").value">
		</p>
		<p>
			<input type="email" name="confirmEmail" placeholder="ConfirmEmail"
				value="@accountForm("confirmEmail").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<input type="password" name="confirmPassword"
				placeholder="ConfirmPassword">
		</p>
		<p>
			<input type="submit" value="Create" />
		</p>
	}
}
