@(loginForm: Form[Application.Login])

@import helper._

@main("Poker Game - Login") {

 	<div id="signIn" style="float:left; margin:0; width:50%;">
	@form(routes.Application.authenticate()) {

		<h1>Sign in</h1>

		@if(loginForm.hasGlobalErrors) {
		    <p class="error">
		        @loginForm.globalError.message
		    </p>
		}

		<p>
			<input type="email" name="email" placeholder="Email" value="@loginForm("email").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<input type="submit" value="Login"/>
		</p>
	}
	</div>
 	<div id="createAccount" style="float:left; margin:0; width:50%;">
		<h1>Don't have an account?</h1>
		<a href="@routes.Application.createAccount">Create an account</a>
	</div>
}
