@(tables: List[PokerTable], tableForm: Form[Tables.Table])

@import helper._

@main("Poker Game - Tables") {
    
    <h1>Tables</h1>
	<table class="tableList">
		<tr>
	    	<th>Name</th>
	    	<th>Type</th>
	    	<th>Limit</th>
	    	<th>Size</th>
	  	</tr>
        @for(table <- tables) {
	  		<tr>
	    		<td><a href="@routes.Tables.openTable(table.getName())">@table.getName()</a></td>
	    		<td>@table.getTableType()</td>
	    		<td>@table.getTableLimit()</td>
	    		<td>@table.getSeatNumber()</td>
	    		<td>
                @form(routes.Tables.deleteTable(table.getName())) {
                    <input type="submit" value="Delete">
                }
                </td>
	  		</tr>
        }
	</table>
    
    <h2>Add a new table</h2>
    
	@if(tableForm.hasGlobalErrors) {
	    <p class="error">
	        @tableForm.globalError.message
	    </p>
	}

    @form(routes.Tables.newTable()) {
        
        @inputText(tableForm("name")) 
		@inputRadioGroup(
          tableForm("tableType"),
          options = options("HOLDEM"->"Hold'em","OMAHA"->"Omaha"))
		@inputRadioGroup(
          tableForm("tableLimit"),
          options = options("LIMIT"->"Limit","POT_LIMIT"->"Pot Limit", "NO_LIMIT"->"No Limit"))
		@inputRadioGroup(
          tableForm("seatNumber"),
          options = options("2"->"2","6"->"6", "9"->"9", "10"->"10"))
          
        <input type="submit" value="Create">
        
    }
    
}
